opencv-python==4.11.0.86

# 기본 라이브러리
numpy>=1.20.0
pandas>=1.3.0
PyYAML>=6.0
h5py>=3.1.0
Pillow>=8.3.0
matplotlib>=3.4.0
seaborn>=0.11.0

# 비디오 및 오디오 처리
opencv-python>=4.5.3
librosa>=0.8.1
torchaudio>=0.10.0
ffmpeg-python>=0.2.0

# 딥러닝 프레임워크
torch>=1.10.0
torchvision>=0.11.0
timm>=0.4.12

# 얼굴 인식 및 감정 분석
facenet-pytorch>=2.5.2
scikit-learn>=1.0.0

# 웹 인터페이스
streamlit>=1.10.0
plotly>=5.5.0


# 유틸리티
tqdm>=4.62.0
joblib>=1.1.0